<html>
<body>
<p><img src=<%= current_user.image_url.gsub("_normal","") %> alt="icon" width="70" height="70" border="0" />

<% threads = []%>
<% threads << Thread.new {timeline()}%>

<% Thread.fork { print(link_to 'ユーザーページに戻る', '../pages/show')}%>
</body>
</html>
<!--案:ストリーミングで回収して片っ端からデータベースぶっこむ。
リアルタイム更新で起動中は出せるようにする（これブラウザ閉じてもうごっきっぱなしにできんのかな？知らん
RESTでも最後に検索したツイートの日時元にsinceすればうまくいけるんじゃね？
これの実装は案外行けそうな気がする
#nowplaying検知したらリストぶっこんでそこから検索すれば楽じゃね？知らん-->
<!--一旦ブラウザを閉じてもコントローラーからメソッドを呼び出してさえいれば動き続ける
そのためRESTの制限に引っかからない範囲で#nowplayingを検知し続け記録し続けられる
マイページにデータベースの最新10件を載せ続けるようにすればいいのでは？
timeline_pageからアンセム表示ページまで飛んでそっちでアンセム判定を出そう-->
<!--終わりが見えてきたうれしーーーーーーーーーーーーー
 -->
<!--ごめんjavascriptのloopとよしなにしたりするのがなんもわからん
コントローラーの時点でdb格納？
dbから取ってきたやつをrubyでよしなに整形すればいいんじゃないの-->
