<p><img src=<%= current_user.image_url.gsub("_normal","") %> alt="icon" width="70" height="70" border="0" />

<%=  current_user.user_name %></p>
<% require "twitter" %>
<% def client_new %>
  <% Twitter::REST::Client.new do |config| %>
  <%  config.consumer_key = ENV['TWITTER_KEY'] %>
  <%  config.consumer_secret = ENV['TWITTER_SECRET'] %>
  <%  config.access_token = session[:oauth_token] %>
  <%  config.access_token_secret = session[:oauth_token_secret] %>
  <% end %>
<% end %>
<% @client = client_new %>
<% @client.home_timeline.each do |tweet| %>
<% if tweet.full_text.include?("#nowplaying") %>
<%= tweet.full_text %>
<% end %>
<% end %>



<!--案:ストリーミングで回収して片っ端からデータベースぶっこむ。
リアルタイム更新で起動中は出せるようにする（これブラウザ閉じてもうごっきっぱなしにできんのかな？知らん
RESTでも最後に検索したツイートの日時元にsinceすればうまくいけるんじゃね？
これの実装は案外行けそうな気がする-->
