<h1>AnthemView#anthem_view</h1>
<p>Find me in app/views/anthem_view/anthem_view.html.erb</p>
<% @user_id_data.each do |object| %>
<p>アーティスト:<%= object.artist %>曲名：<%= object.song %>　ユーザー：<%= object.user_id %></p>
<%end%>
